# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/ [Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Evita ignorar la carpeta Build (permite subirla)
!Build/

# ===================== #
# Visual Studio / VSCode #
# ===================== #
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Rider
.idea/
*.sln.iml

# ============== #
# OS generated   #
# ============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ========== #
# Unity cache #
# ========== #
sysinfo.txt
*.stackdump

# ========== #
# Build files #
# ========== #
*.apk
*.aab
*.app
*.exe
*.dll
*.mp4
*.zip
*.unitypackage
*.appx
*.xcodeproj
*.xcworkspace
*.xcuserstate

# ============ #
# Logs & crash #
# ============ #
*.log
*.crash
*.dmp
